body {
  color: #000;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.hedline .caption {
  position: relative;
  width: 350px;
  /*.image {
    img {
  width: 100%;
    }
  }*/
}

.hedline .caption .name {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.hedline .caption .name h1 {
  color: #fff;
  font-size: 1.2em;
}

.hedline .caption .gender {
  font-size: 0.8em;
}

.hedline .caption .hobby {
  font-size: 0.8em;
}

.hedline .caption .introduction {
  font-size: 0.8em;
}

.posts .post {
  /*.image {
    img {
  width: 250px;
    }
  }*/
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .name {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .gender {
  font-size: 0.8em;
}

.posts .post .hobby {
  font-size: 0.8em;
}

.posts .post .introduction {
  font-size: 0.8em;
}

